<div class="login__general__container">

<form method="GET" class="login-form">
    <h1 class="login-title">LOG IN</h1>
    <div class="login-input-group">
        <div class="login-input-wrapper">
            <label for="email">User</label>
            <input
                class="login-input"
                type="email" name="email" id="email" placeholder="Your email" required>
        </div>
        <div class="login-input-wrapper">
            <label for="password">Password</label>
            <input
                class="login-input"
                type="password" name="password" id="password" placeholder="Your password" required>
        </div>
    </div>
    <div class="login-submit">
        <button type="submit" class="btn btn-primary">LOG IN</button>
    </div>
</form>
<br>
<div class="text-center">
<button class="btn btn-success" onclick="location.href='/api/sessions/github'">Authenticate with github</button>
</div>
<br/>
<a href="?register=true">¿You do not have an account? Sign up</a>
</div>

<script src="/js/loginController.js"></script>
