<section class="page_404">
  <div class="container">
    <div>
      <div>
        <div>
          <div>
            <h1>Error 404</h1>
          </div>
          <div>
            <h3>
              Page not found
            </h3>
            <a href="/" class="btn btn-primary">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>